:root{
    --themeColor:linear-gradient(to right, rgb(92, 162, 228), #5eb4e6);
}
.form{
    position: absolute;
    top:100px !important;
}

  input[type='email'] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 20rem;
    display: block;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #47c4eb;
  }
  input[type='date'] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    width: 20rem;
    display: block;
    border-radius: 0.5rem;
    outline: none;
    border: 1px solid #4eaee6;
  }
  input[type='radio'] {
    padding: 0.8rem;
    margin: auto;
    margin-top: 0.5rem;
    
    
    border: 1px solid #78c5f8;
  }
  input#address{
      height: 5rem;
  }
  input#about{
      height: 5rem;
  }
  #genderGroup{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      
  }
  .violet{
      color:#63a9e2 ;
      font-weight: bold;
  }

  .errorMsg{
    position: absolute;
    top:-50%;
    left:2%;
    width:90%;
    padding: 0.5% 5%;
    color: rgb(219, 60, 60);
    border-radius: 5px;
    z-index: 2000;
    text-align: left !important;
}
.errorMsg::before{
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid rgba(252, 250, 252, 0.849);
    position: absolute;
    bottom:-41%;
    left:10%;
    z-index: 2000;
}
.errorMsg.hidden{
    display: none;
}


#passLenthIndicator{
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 10px;
    padding:0;
    margin-top: 0%;
    margin-bottom: 5%;
    max-width: 20rem;
    margin-left: 10%;
    margin-right:10%;

    
}
#passLenthIndicator.hidden{
    display: none;
}